<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>342930654941-b5i66iihkp72a56qm1ul8ssmqbt3alri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342930654941-b5i66iihkp72a56qm1ul8ssmqbt3alri</string>
	<key>API_KEY</key>
	<string>AIzaSyDSbBocneX3XftP0_8mYvYXgAG_J7v1UqM</string>
	<key>GCM_SENDER_ID</key>
	<string>342930654941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>phuot.MovieFlicks</string>
	<key>PROJECT_ID</key>
	<string>movieflicks-1eeac</string>
	<key>STORAGE_BUCKET</key>
	<string>movieflicks-1eeac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:342930654941:ios:a17cf2065b7a6e2a</string>
	<key>DATABASE_URL</key>
	<string>https://movieflicks-1eeac.firebaseio.com</string>
</dict>
</plist>